---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';


const posts = (await getCollection('works'))
	.filter((work) => work.data.status !== 'upcoming')
	.sort((a, b) => {
		if (a.data.pubDate && b.data.pubDate) {
			return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
		}
		return a.data.title.localeCompare(b.data.title);
	});


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				  margin: 0.75rem auto 3rem auto !important;
				  padding: 4em;


			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--white));
				line-height: 1;
			}

			h4{
				font-size: 1.2em; 
				padding-top: 0.1em;
				padding-bottom: 0.2em;
				font-weight: normal;
				/* opacity: 0.6; */
			}
			.description {
				margin: 0em;
				margin-top:;
				padding-bottom: 2em;
				font-size: 1em;
				opacity: 60%;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .description {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/works/${post.id.replace(/\.md$/, '')}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">
										{post.data.title}
										<span class="year">({post.data.pubDate.getFullYear()})</span>
									</h4>
									<span class="description">{post.data.description}</span>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>