---
import { getCollection, getEntry } from 'astro:content';

const aboutPage = await getEntry('pages', 'about');
const { Content: AboutContent } = await aboutPage.render();

const works = await getCollection('works');
const research = await getCollection('research');
const researchStatement = await getEntry('research', 'research-statement');
const { Content: ResearchStatementContent } = await researchStatement.render();
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zztt :: ascii</title>
    <!-- <style>
        body {
            background-color: #000000;
            color: #0f0;
            font-family: 'Courier New', Courier, monospace;
            font-size: 16px;
            line-height: 1.2;
            margin: 0;
            padding: 1em;
        }
        a {
            color: #0ff;
            text-decoration: none;
        }
        a:hover {
            background-color: #0ff;
            color: #000;
        }
        h1, h2 {
            font-weight: normal;
            text-align: center;
        }
        hr {
            border: 0;
            border-top: 1px dashed #0f0;
        }
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            text-align: center;
        }
        .content-block {
            background-color: #000000;
            border: 1px dashed #0f0;
            padding: 1em;
            margin: 1em 0;
        }
        .content-block h2 {
            margin-top: 0;
        }
        ul {
            list-style-type: '» ';
            padding-left: 20px;
        }
        li {
            margin-bottom: 0.5em;
        }
        marquee {
            width: 100%;
            background-color: #111;
            color: #0f0;
            padding: 5px 0;
        }
        .home-link {
            display: block;
            text-align: center;
            margin: 2em 0;
            font-size: 1.2em;
        }
    </style> -->
</head>
<body>
    <pre>
         _     _       _    _  _  _     _   _  __ __  
 /  / / / ` / /_/ /|/ / /  /_/  /  / / / ` / / /  /  /
/_,/_/ /_, / / / / | /_/  / / /_./_./ /_; /_/ /  /  / 
                                                      

</pre>

    <marquee behavior="scroll" direction="left" scrollamount="5">
        +++ wip +++
    </marquee>

    <div class="content-block" id="preamble">
        <ResearchStatementContent />
    </div>
 
    <div class="content-block" id="works">
        <h2>works</h2>
        <ul>
            {works.map(work => (
                <li><a href={`/works/${work.slug}/`}>{work.data.title}</a> ({work.data.description})</li>
            ))}
        </ul>
    </div>



    <div class="content-block" id="research">
        <h2>research</h2>
         <ul>
            {research.map(item => (
                <li><a href={`/research/${item.slug}/`}>{item.data.title}</a> - {item.data.description}</li>
            ))}
        </ul>
    </div>
    


           <div class="content-block" id="about">
        <h2>about</h2>
        <AboutContent />
    </div>


    <a href="/" class="home-link">[&lt;&lt; back to main page]</a>

    <pre>
`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´
    </pre>
    <p style="text-align:center; font-size: 12px;">(cc) 1994 zztt. copyleft.</p>

</body>
</html>
